<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>
</head>
<body>

<!-- 네비게이션 바 -->
<nav th:replace="~{layout/navbar :: navbarFragment}"></nav>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addPost}">게시글 등록</h2>
    </div>

    <form action="item.html" th:action th:object="${post}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label for="itemName" th:text="#{label.post.title}">제목</label>
            <input type="text" id="itemName" th:field="*{title}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{title}">
                제목 오류
            </div>
        </div>
        <div>
            <label for="boardType" th:text="#{label.board.type}">게시판 종류</label>
            <select id="boardType" th:field="*{boardType}"
                   th:errorclass="field-error" class="form-select">
                <option value="">==게시판 선택==</option>
                <option th:each="board : ${boardList}" th:value="${board.boardType}"
                        th:text="${board.name}">FAST</option>
            </select>
            <div class="field-error" th:errors="*{boardType}">
                게시판 오류
            </div>
        </div>
        <!--   TODO: 작성자는 로그인 시에만 가능, 작성자 이름은 자동으로 들어감     -->
        <div>
            <label for="writerName" th:text="#{label.post.writer}">작성자 이름</label>
            <input type="text" id="writerName" th:field="*{writerName}"
                   th:errorclass="field-error" class="form-control" placeholder="작성자를 입력하세요">
            <div class="field-error" th:errors="*{writerName}">
                작성자 오류
            </div>
        </div>
        <div>
            <label for="contents" th:text="#{label.post.contents}">내용</label>
            <textarea type="text" id="contents" th:field="*{contents}" th:rows="5"
                      th:errorclass="field-error" class="form-control h-75" placeholder="내용을 입력하세요">
            </textarea>
            <div class="field-error" th:errors="*{contents}">
                내용 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/posts/{boardPath}(boardPath=${boardPath})}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>