<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- 네비게이션 바 -->
<nav th:replace="~{layout/navbar :: navbarFragment}"></nav>

<div class="container" style="max-width: 1000px" th:fragment="board">
    <div class="py-5 text-center">
        <h2 th:text="${board.name}">글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/posts/{board}/add(board=${board.url})}'|"
                    type="button" th:text="#{page.addPost}">글 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.post.id}">ID</th>
                <th th:text="#{label.post.title}">제목</th>
                <th th:text="#{label.post.writer}">작성자</th>
                <th th:text="#{label.post.createdAt}">등록일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a href="item.html" th:href="@{/posts/{board}/{postId}(board=${board.url}, postId=${post.postId})}" th:text="${post.postId}">글 ID</a></td>
                <td><a href="item.html" th:href="@{/posts/{board}/{postId}(board=${board.url}, postId=${post.postId})}" th:text="${post.title}">제목</a></td>
                <td><a href="item.html" th:href="@{/members/{memberId}(memberId=${post.member.memberId})}" th:text="${post.member.name}">작성자</a></td>
                <td th:href="@{/posts/{board}/{postId}(board=${board.url}, postId=${post.postId})}" th:text="${post.createdAt}">작성일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>