<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        textarea {
            resize: none;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.post}">게시글 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="postId" th:text="#{label.post.id}">게시글 ID</label>
        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.postId}" readonly>
    </div>
    <div>
        <label for="title" th:text="#{label.post.title}">제목</label>
        <input type="text" id="title" name="title" class="form-control" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="writer" th:text="#{label.post.writer}">작성자</label>
        <input type="text" id="writer" name="writer" class="form-control" th:value="${post.member.name}" readonly>
    </div>
    <div>
        <label for="contents" th:text="#{label.post.contents}">내용</label>
        <textarea type="text" id="contents" name="contents" class="form-control" th:rows="5" th:text="${post.contents}" readonly>
        </textarea>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{board}/{postId}/edit(board=${boardPath},postId=${post.postId})}'|"
                    type="button" th:text="#{page.updateItem}">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts/{board}(board=${boardPath})}'|"
                    type="button" th:text="#{button.cancel}">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>