<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- 네비게이션 바 -->
<nav th:replace="~{layout/navbar :: navbarFragment}"></nav>

<div class="container" style="max-width: 1000px">

    <div class="py-5 text-center">
        <h2 th:text="#{label.title}">게시판 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addBoard.html'"
                    th:onclick="|location.href='@{/boards/add}'|"
                    type="button" th:text="#{page.addBoard}">글 등록</button>
        </div>
    </div>

    <hr class="my-4">

    <!-- 게시판들 -->
    <div class="container mt-3">
        <div class="row">
            <!-- th:each를 사용하여 boards를 반복 -->
            <div th:each="board : ${boards}" class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <!-- Board 객체의 필드를 사용하여 카드 내용을 동적으로 채움 -->
                        <h5 class="card-title" th:text="${board.name}"></h5>
                        <p class="card-text" th:text="${board.description}"></p>
                        <!-- 각 게시판으로 이동하는 링크 -->
                        <a th:href="@{'/posts/' + ${board.url}}" class="btn btn-primary">이 게시판으로 이동</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div> <!-- /container -->
</body>
</html>